@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #2D2E2E;
}
.flex_1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex_2{
    display: flex;
}
.flex_3{
    display: flex;
    align-items: center;
}
.flex_4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_std{
    width: 100%;
    height: 100%;
}

/* preloader start */
.loader{
    max-width: 100vw;
    height: 100vh;
    background: rgb(46, 46, 46);
    position: fixed;
    inset: 0;
    z-index: 100;
}
.loader_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
}
.loader .loader_container .ring{
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 2px solid rgba(126, 128, 133,0.1);
    animation: rotate 3s linear reverse infinite;
}
.loader .loader_container .ring.ring2{
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    border-right: 2px solid #03a9f4;
    border-bottom: 2px solid #03a9f4;
}
.loader .loader_container .ring.ring1{
    border-left: 2px solid #fff000;
    border-top: 2px solid #fff000;
    animation: rotate 3s linear infinite;
}
.loader .loader_container .ring .circle{
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    height: 2px;
    width: 50%;
    transform-origin: left;
    background-color: transparent;
}
.loader .loader_container .ring.ring1 .circle{
    transform: rotate(-45deg);
}
.loader .loader_container .ring.ring2 .circle{
    transform: rotate(-45deg);
}
.loader .loader_container .ring .circle::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    top: -4px;
    right: -5px;
}
.loader .loader_container .ring.ring1 .circle::before{
    background-color: #fff000;
    box-shadow: 0 0 10px #ff0,
                0 0 20px #ff0,
                0 0 40px #ff0,
                0 0 50px #ff0;
}
.loader .loader_container .ring.ring2 .circle::before{
    background-color: #03a9f4;
    box-shadow: 0 0 10px #03a9f4,
                0 0 20px #03a9f4,
                0 0 40px #03a9f4,
                0 0 50px #03a9f4;
}
@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
/* preloader end */
/* landing section start */
.landing_home{
    max-width: 100vw;
    height: 90vh;
    background-color: #2D2E2E;
    position: relative;
}
.landing_home nav{
    padding: 1% 4%;
}
.landing_home nav p#heading_text{
    color: #e7404e;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
}
.landing_home nav ul#navs{
    gap: 5rem;
}
.landing_home nav ul#navs li{
    list-style: none;
}
.landing_home nav ul#navs li a{
    text-decoration: none;
    transition: 0.3s;
}
.landing_home nav ul#navs li a:hover{
    color: #e7404e;
}
.landing_home nav .hamburger{
    transition: 0.5s;
    display: none;
}
.landing_home nav .hamburger .fa-solid{
    font-size: 1.8rem;
}
.landing_home nav ul#navs.active{
    left: 0;
}
.navbar_close{
    z-index: 10;
}
.landing_home .content_texts {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 5%;
    width: 50%;
    height: 60%;
    word-spacing: 5px;
    /* line-height: 4rem; */
    overflow: hidden;
}
.landing_greet, .landing_role, .landing_tagline{
    animation: zoomin 2s forwards;
    transform: translateX(-100%);

}
.landing_greet{
    animation-delay: 2.5s;
}
.landing_role{
    animation-delay: 6.5s;
}
.landing_tagline{
    animation-delay: 4.5s;
}


@keyframes zoomin {
    from{ transform: translateX(-100%);}
    to{transform: translateX(0%);}
}
/* .landing_home .content_texts h1{
    margin-block: 0.5rem;
    color: #BAB599;
} */
.landing_home .content_texts p{
    color: #BAB599;
}
.landing_home .content_texts h1 {
    color: #e7404e;
    font-size: 3rem;
    margin-block: 0.5rem;
}
/* landing section end */

/* about section start */
.about_me{
    max-width: 100vw;
    height: 80vh;
    position: relative;
    background-color: #2D2E2E;
}
.about_me h1#about_heading{
    font-size: 3.2rem;
    padding-top: 2%;
    text-align: center;
    color: #e7404e;
    /* -webkit-text-stroke: 0.7px #e7404e; */
    letter-spacing: 2px;
    transform: scale(0);
}
.about_heading_animate{
    animation: scaleIn 0.7s forwards ease;
    animation-delay: 9s;
}
@keyframes scaleIn {
    0%{transform: scale(0);}
    100%{transform: scale(1)}
}
.about_me .about_me_content{
    margin: 2% auto;
    width: 55%;
    height: 70%;
}

.about_me .about_me_content .about_image{
    width: 35%;
    height: 80%;
}
.about_me .about_me_content .about_content{
    width: 60%;
    height: 100%;
    padding: 3% 1.5%;
}
.about_me .about_me_content .about_content p{
    text-indent: 55px;
    font-size: 1.1rem;
    text-align: justify;
    /* color: #FAEDCA; */
    color: #BAB599;
    letter-spacing: 1px;
}
.about_me .about_me_content .about_content p span{
    color: #E7404D;
    font-weight: 800;
}
.about_me .about_me_content .about_content a#cv_download_btn{
    display: inline-block;
    margin-top: 5%;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 3px;
    color: #E7404D;
    position: relative;
}
.about_me .about_me_content .about_content a#cv_download_btn:hover{
    background-color: #E7404D;
    color: black;
    padding: 8px 10px;
}
/* about section end */

/* work section start */
.work{
    max-width: 100vw;
    min-height: 100vh;
    background-color: #2D2E2E;
    padding: 2% 0;
}
.work h1{
    font-size: 3.2rem;
    text-align: center;
    color: #e7404e;
    -webkit-text-stroke: 0.7px #e7404e;
    letter-spacing: 2px;
    margin-bottom: 2%;
}
.work .work-item{
    width: 50%;
    height: 25vh;
    margin: 2% auto;
    gap: 8em;
}
.work .work-item .work_div{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.work .work_angular_dash{
    width: 20%;
    height: 25vh;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.work .work-item .work_div::before,.work .work_angular_dash::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(46, 46, 46,0.5);
    z-index: 1;
    transition: transform 0.5s;
    transform: rotateY(-90deg);
}
.work .work-item .work_div:hover::before,.work .work_angular_dash:hover::before{
    transform: rotateY(0deg);
}
.work .work-item .work_div a,.work .work_angular_dash a{
    text-decoration: none;
    color: #E7404D;
    font-size: 1.2rem;
    line-height: 1.5rem;
    z-index: 2;
    font-weight: 800;
}
.work .work-item .live_proj{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../Projects/Kazi_image.jpg) no-repeat center;
}
.work .work-item .html_css{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../Projects/Coffe_shop_bg.jpg) no-repeat center;
}
.work .work-item .bootstrap{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../Projects/Travel_site_bg.jpg) no-repeat center;
}
.work .work-item .angular_site{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../Projects/Yoga\ website\ angular.PNG) no-repeat center;
}
.work .work_angular_dash{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../Projects/Angular_dashboard.PNG) no-repeat center;
}
.work .work-item .live_proj,.work .work-item .html_css,.work .work-item .bootstrap,.work .work-item .angular_site,.work .work_angular_dash{
    background-size: cover;
}

/* work section end */

/* skills section start */
.skills{
    max-width: 100vw;
    min-height: 60vh;
    background-color: #2D2E2E;
    padding: 2% 0;
}
.skills h1{
    font-size: 3.2rem;
    text-align: center;
    color: #e7404e;
    -webkit-text-stroke: 0.7px #e7404e;
    letter-spacing: 2px;
}
.skills .skills-item{
    max-width: 60%;
    margin: 1.2rem auto;
}
.skills .skills-item .skills-item-header{
    background-color: #dfd9cb;
    padding: 0.5rem 3rem;
    border-radius: 3px 3px 0 0;
    position: relative;
    transition: transform 0.3s;
    cursor: pointer;
    transition: transform 0.5s ease;
    color: #EF798A;
}
.skills .skills-item .skills-item-header::after{
    content: "\271A";
    position: absolute;
    right: 3rem;
    color: #E7404D;
}
.skills .skills-item .skills-item-header.active::after{
    transform: rotate(45deg);
}
.skills .skills-item .skills-item-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}
.skills .skills-item .skills-item-body .skills-item-body-content{
    padding: 0.5rem 3rem;
    border: 0.5px solid #dfd9cb;
    border-radius: 0 0 3px 3px;
}
.skills .skills-item .skills-item-body .skills-item-body-content img{
    width: 80px;
    height: 60px;
    display: inline-block;
    margin-right: 2%;
}
.skills .skills-item .skills-item-header.active + .skills-item-body{
    max-height: 400px;
}
/* skills section end */

/* contact section start */
.contact{
    max-width: 100vw;
    min-height: 50vh;
    background-color: #2D2E2E;
    padding: 2% 0;
}
.contact h1{
    font-size: 3.2rem;
    text-align: center;
    color: #e7404e;
    -webkit-text-stroke: 0.7px #e7404e;
    letter-spacing: 2px;
}
.contact .contact_main{
    width: 65%;
    height: 30%;
    gap: 3em;
    margin: 1.5% auto;
}
.contact .contact_main .con_sections{
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.2s ease-in;
}
.contact .contact_main .con_sections p{
    color: #C6C6C6;
}
.contact .contact_main .con_sections p a{
    text-decoration: none;
}
.contact .contact_main .con_sections p .fa-solid{
    font-size: 1.2rem;
    margin-right: 0.5em;
    color: #E7404D;
}
.contact .contact_main .con_sections:hover{
    transform: scale(1.2);
}
.contact .contact_links{
    width: 50%;
    height: 10%;
    margin: 10% auto 0;
    gap: 8em;
}
.contact .contact_links .links{
    font-size: 1.2rem;
    position: relative;
}
.contact .contact_links .links .fa-brands{
    margin: 13px 0;
}
.contact .contact_links .links span{
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    background-color: #E7404D;
    color: black;
    padding: 6px;
    border-radius: 6px;
    transition: all 0.3s ease-in;
}
.contact .contact_links .links span::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #E7404D;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}
.contact .contact_links .links:hover span{
    opacity: 1;
}
/* contact section end */

#top_btn{
    position: fixed;
    z-index: 7;
    left: 3%;
    bottom: 3%;
}
#top_btn .fa-solid{
    padding: 5px;
    color: #E7404D;
    font-size: 1.5rem;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    html{
        font-size: 13px;
    }
    .landing_home .middle_content{
        width: 75%;
    } 
    .about_me .about_me_content{
        width: 58%;
    }
    .work .work-item{
        width: 54%;
        gap: 6em;
    }
    .work .work_angular_dash{
        width: 25%;
    }
    .contact{
        height: 47vh;
    }
    .contact .contact_main{
        width: 69%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    html{
        font-size: 13px;
    }
    .landing_home{
        height: 75vh;
    }
    .landing_home nav ul#navs{
        position: fixed;
        z-index: 9;
        top: 0;
        left: -100%;
        flex-direction: column;
        background-color: #e7404e;
        width: 100%;
        text-align: center;
        transition: 0.3s ;
        padding: 2% 0;
        gap: 0;
    }
    .landing_home nav ul#navs li{
        font-size: 1.5rem;
        margin-left: 0;
        line-height: 2rem;
    }
    .landing_home nav .hamburger{
        display: block;
    }
    .landing_home .content_texts{
        width: 88%;
    }
    .landing_home nav ul#navs{
        gap: 4rem;
    }
    .about_me{
        height: 70vh;
    }
    .about_me h1#about_heading{
        font-size: 3.2rem;
        padding-top: 2%;
    }
    .about_me .about_me_content{
        width: 80%;
    }
    .about_me .about_me_content .about_image{
        width: 35%;
        height: 65%;
    }
    .about_me .about_me_content .about_content p{
        font-size: 0.9rem;
    }
    .work{
        min-height: 85vh;
        padding: 2% 0;
    }
    
    .work .work-item{
        width: 75%;
        height: 20vh;
        gap: 4em;
        margin: 3% auto;
    }
    .work .work_angular_dash{
        width: 35%;
        height: 20vh;
    }
    .skills .skills-item{
        max-width: 80%;
        margin: 1.2rem auto;
    }
    .contact{
        min-height: 40vh;
    }
    .contact .contact_main{
        width: 85%;
    }
    .contact .contact_main .con_sections p{
        color: #C6C6C6;
        font-size: 0.7rem;
    }
}
 @media screen and (min-width: 321px)  and (max-width: 480px) {
     body{
         max-width: 100%;
         overflow-x: hidden;
     }
     .loader{
        min-height: 100%;
    }
    .loader_container{
        width: 120px;
        height: 120px;
    }
    .loader .loader_container .ring.ring2{
        top: 20px;
        left: 20px;
        bottom: 20px;
        right: 20px;
    }
    .landing_home{
        height: 85vh;
    }
     .landing_home nav ul#navs{
        position: fixed;
        z-index: 9;
        top: 0;
        left: -100%;
        flex-direction: column;
        background-color: #e7404e;
        width: 100%;
        text-align: center;
        transition: 0.3s ;
        padding: 4% 0;
        gap: 0;
    }
    .landing_home nav ul#navs li{
        line-height: 2.5rem;
    }
    .landing_home nav .hamburger{
        display: block;
    }
    .landing_home .content_texts {
        width: 85%;
        height: 60%;
        word-spacing: 2px;
    }
    .landing_home .content_texts p{
        font-size: 0.9rem;
    }
    .landing_home .content_texts h1 {
        color: #e7404e;
        font-size: 2.3rem;
        margin-block: 0.3rem;
        line-height: 2.9rem;
    }
    .about_me{
        height: 95vh;
    }
    .about_me h1#about_heading{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .about_me .about_me_content{
        width: 90%;
        height: 85%;
        gap: 1em;
        flex-direction: column;
        justify-content: center;
    }
    .about_me .about_me_content .about_image{
        width: 40%;
        height: 50%;
    }
    .about_me .about_me_content .about_content{
        width: 100%;
        height: 80%;
        padding: 2% 1%;
    }
    .about_me .about_me_content .about_content p{
        font-size: 0.8rem;
    }
    .about_me .about_me_content .about_content a#cv_download_btn{
        margin-top: 2%;
        font-size: 0.8rem;
    }
    .work h1{
        font-size: 2.3rem;
        letter-spacing: 1px;
    }
    .work .work-item{
        width: 60%;
        height: 40vh;
        margin: 4% auto;
        gap: 1em;
        justify-content: center;
        flex-direction: column;
    }
    .work .work-item .work_div a,.work .work_angular_dash a{
        font-size: 1rem;
        line-height: 1.1rem;
        font-weight: 500;
    }
    .work .work_angular_dash{
        width: 60%;
        height: 19vh;
        margin: 2% auto;
    }
    .skills h1{
        font-size: 2.3rem;
        letter-spacing: 1px;
    }
    .skills .skills-item{
        max-width: 85%;
        margin: 1rem auto;
    }
    .skills .skills-item .skills-item-header{
        font-size: 0.6rem;
    }
    .skills .skills-item .skills-item-header::after{
        right: 2rem;
    }
    .skills .skills-item .skills-item-body .skills-item-body-content img{
        width: 35px;
        height: 35px;
    }
     .contact{
        min-height: 80vh;
    }
    .contact h1{
        font-size: 2.3rem;
        letter-spacing: 1px;
    }
    .contact .contact_main{
        width: 65%;
        height: 50vh;
        gap: 2em;
        margin: 2% auto;
        flex-direction: column;
    }
    .contact .contact_main .con_sections p{
        font-size: 0.9rem;
    }
    .contact .contact_links{
        width: 65%;
        height: 10%;
        margin: 10% auto 0;
        gap: 3.5em;
    }
}

@media screen and (max-width: 320px) {
    body{
        width: 100vw;
        overflow-x: hidden;
    }
    .loader{
       min-height: 100%;
   }
   .loader_container{
       width: 120px;
       height: 120px;
   }
   .loader .loader_container .ring.ring2{
       top: 20px;
       left: 20px;
       bottom: 20px;
       right: 20px;
   }
   .landing_home{
       height: 85vh;
   }
    .landing_home nav ul#navs{
       position: fixed;
       z-index: 9;
       top: 0;
       left: -100%;
       flex-direction: column;
       background-color: #e7404e;
       width: 100vw;
       text-align: center;
       transition: 0.3s ;
       padding: 4% 0;
       gap: 0;
   }
   .landing_home nav ul#navs li{
       line-height: 2.5rem;
   }
   .landing_home nav .hamburger{
       display: block;
   }
   .landing_home .content_texts {
       width: 85%;
       height: 60%;
       word-spacing: 2px;
   }
   .landing_home .content_texts p{
       font-size: 0.9rem;
   }
   .landing_home .content_texts h1 {
       color: #e7404e;
       font-size: 2.3rem;
       margin-block: 0.3rem;
       line-height: 2.9rem;
   }
   .about_me{
       height: 95vh;
   }
   .about_me h1#about_heading{
       font-size: 2rem;
       margin-bottom: 2rem;
   }
   .about_me .about_me_content{
       width: 90%;
       height: 85%;
       gap: 1em;
       flex-direction: column;
       justify-content: center;
   }
   .about_me .about_me_content .about_image{
       width: 40%;
       height: 50%;
   }
   .about_me .about_me_content .about_content{
       width: 100%;
       height: 80%;
       padding: 2% 1%;
   }
   .about_me .about_me_content .about_content p{
       font-size: 0.8rem;
   }
   .about_me .about_me_content .about_content a#cv_download_btn{
       margin-top: 2%;
       font-size: 0.8rem;
   }
   .work h1{
       font-size: 2.3rem;
       letter-spacing: 1px;
   }
   .work .work-item{
       width: 60%;
       height: 40vh;
       margin: 4% auto;
       gap: 1em;
       justify-content: center;
       flex-direction: column;
   }
   .work .work-item .work_div a,.work .work_angular_dash a{
       font-size: 1rem;
       line-height: 1.1rem;
       font-weight: 500;
   }
   .work .work_angular_dash{
       width: 60%;
       height: 19vh;
       margin: 2% auto;
   }
   .skills h1{
       font-size: 2.3rem;
       letter-spacing: 1px;
   }
   .skills .skills-item{
       max-width: 85%;
       margin: 1rem auto;
   }
   .skills .skills-item .skills-item-header{
       font-size: 0.6rem;
   }
   .skills .skills-item .skills-item-header::after{
       right: 2rem;
   }
   .skills .skills-item .skills-item-body .skills-item-body-content img{
       width: 35px;
       height: 35px;
   }
    .contact{
       min-height: 80vh;
   }
   .contact h1{
       font-size: 2.3rem;
       letter-spacing: 1px;
   }
   .contact .contact_main{
       width: 65%;
       height: 50vh;
       gap: 2em;
       margin: 2% auto;
       flex-direction: column;
   }
   .contact .contact_main .con_sections p{
       font-size: 0.9rem;
   }
   .contact .contact_links{
       width: 65%;
       height: 10%;
       margin: 10% auto 0;
       gap: 3.5em;
   }
}
