*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loader{
    width: 100%;
    height: 100vh;
    background: rgb(46, 46, 46);
    position: fixed;
    top: 0;
    left: 0;
}
.loader_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
}
.loader .loader_container .ring{
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 2px solid rgba(126, 128, 133,0.1);
    animation: rotate 3s linear reverse infinite;
}
.loader .loader_container .ring.ring2{
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    border-right: 2px solid #03a9f4;
    border-bottom: 2px solid #03a9f4;
}
.loader .loader_container .ring.ring1{
    border-left: 2px solid #fff000;
    border-top: 2px solid #fff000;
    animation: rotate 3s linear infinite;
}
.loader .loader_container .ring .circle{
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    height: 2px;
    width: 50%;
    transform-origin: left;
    background-color: transparent;
}
.loader .loader_container .ring.ring1 .circle{
    transform: rotate(-45deg);
}
.loader .loader_container .ring.ring2 .circle{
    transform: rotate(-45deg);
}
.loader .loader_container .ring .circle::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    top: -4px;
    right: -5px;
}
.loader .loader_container .ring.ring1 .circle::before{
    background-color: #fff000;
    box-shadow: 0 0 10px #ff0,
                0 0 20px #ff0,
                0 0 40px #ff0,
                0 0 50px #ff0;
}
.loader .loader_container .ring.ring2 .circle::before{
    background-color: #03a9f4;
    box-shadow: 0 0 10px #03a9f4,
                0 0 20px #03a9f4,
                0 0 40px #03a9f4,
                0 0 50px #03a9f4;
}
@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}